* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

ol , ul, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    width: 100%;
    display: block;
}



/* REGOLE FLEX */



.row {
    display: flex;
}


.col-6 {
    flex-basis: 0;
    flex-grow: 1;
}
/* REGOLE CONTAINER */



.container {
    max-width: 1180px;
    padding: 0 1rem;
    margin: 0 auto;
}

.container-small {
    max-width: 910px;
    padding: 0 1rem;
    margin: 0 auto;
}



/* REGOLE BUTTON */



.button {
    border-radius: 15px;
    padding: 0 17px;
    line-height: 38px;
}

.button-white {
    background-color: white; 
    color: black;
    display: block;
}

.button-blue {
    padding: 10px 50px;
    text-align: center;
    background-color: #0084FD;
    color: white;
    font-weight: bold;
}

.button-violet {
    background-color: #9792E4;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
}

.circle-button {
    background-color: #9792E4;
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
}



/* REGOLE HEADER */



.main-header {
    background-color: #0084FD;
    padding: 1rem 1.25rem;
    color: white;
}

.nav-menu {
    margin-left: auto;
}

.header-list {
    gap: 1.50rem;
    align-items: center;
   
}

.main-header .row img {
    height: 45px;
    width: 81px;
}



/* PRIMA SEZIONE : FEAURE */



.main-feature-card {
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    gap: 26px 0px;
}

.col-feature-large {
    flex-basis: calc(100% / 2);
    flex-grow: 1;
}

.col-feature {
    flex-basis: calc(100% / 3);
}

.col-feature.grow{
    flex-grow: 1;
}

.feature-card-right {
    
}

.feature-card-left {

}

.feature-card.column {
    text-align: center;
    align-content: center;
}

/* Prima sezione stili */

.feature {
    padding-top: 46px;
    padding-bottom: 100px;
}

.col-feature-large, .col-feature {
    padding: 0 1.5rem 0 1.5rem;
}

.feature-card {
    background-color: #B5DDFF;
    padding: 2rem 1rem;
    border-radius: 15px;
}

.feature-card-phone {
    /* position: relative; */
    top: 32px
}

.feature-card-text {
    margin: 41px 0;
}

.feature-card-title {
    color: #0084FD;
}

.feature p {
    color: grey;
    font-weight: 700;
}

.feature-card.column i {
    margin-bottom: 1.5rem;
} 

.feature-card.column h3 {
    margin-bottom: 2rem ;
}

.feature-card.column i{
    font-size: 80px;
    color: #0084FD;
}



/* SECONDA SEZIONE : STRATEGIC PLANNING */



.planning {
    background-color: #9792E4;
    padding-top: 125px;
    padding-bottom: 65px;
}

.planning-main-card {
    gap: 66px;
}

.col-6.right.row{
    flex-direction: column;
}

.planning .card-left.left-img {
    width: 410px;
}

.planning-left-text {
    margin-top: 135px;
    color: white;
}

.planning-left-text h2 {    
    margin-bottom: 63px;
    font-size: 2rem;
}

.planning-right-text {
    margin-top: 1.25rem;
}

.planning-right-text h2 {
    margin-bottom: 2rem;

}

.planning-right-text p {
    margin-bottom: 37px;
    font-style: italic;
}

.planning-card-right {
    background-color: white;
    border-radius: 40px;
    padding: 30px;
}

.planning-right-text {
    text-align: center;
}

.planning-right-text a span{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.card-right.right-img {
    width: 250px;
    margin: 0 auto;
}

.col-6.left {
    align-self: flex-end;
}



/* TERZA SEZIONE : TESTIMONIALS */



.testimonials {
    padding-top: 66px;
    padding-bottom: 115px;
}

.main-title {
    text-align: center;
}

.main-title span{
    display: block;
    margin-bottom: 40px;
}

.main-title h1 {
    color: #9792E4;
    font-size: 44px;

}

.main-title p {
    margin: 55px 0;
}

.testimonials-main-card {
    flex-direction: column;
    gap: 2rem;
}

.testimonials-card {
    display: flex;
    background-color: #9792E4;
    border-radius: 40px;
}

.testimonials-card .card-left-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.testimonials-card .card-left-img.first-photo {
    background-image: url(../img/testimonial1.jpg);
}

.testimonials-card .card-left-img.second-photo {
    background-image: url(../img/testimonial2.jpg);
}

.testimonials-card .card-left-img.third-photo {
    background-image: url(../img/testimonial3.jpg);
}

.testimonials-card .card-left {
    padding: 2rem 1rem;
}

.testimonials-main-card .card-right {
    display: flex;
    padding: 0 66px;
}

.card-right-text {
    align-self: center;
    color: white;
    font-size: 20px;
}

.card-right-text .author {
    margin-top: 35px;
    font-weight: bold;
}



/* QUARTA SEZIONE : BENEFITS */



.benefits {
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: #9792E4;
}

.benefits-title {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 80px;
}

.benefits .benefits-main-card {
    flex-wrap: wrap;
    margin: 0 -0.75rem;
    gap: 0.75rem 0;
}

.benefits .col {
    width: calc(100% / 3);
    padding: 0 0.75rem;
}

.benefits .card-benefits {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.card-benefits h1, .card-benefits h3 {
    color: #9792E4;
}

.card-benefits h1 {
    font-size: 70px;
    margin-bottom: 2rem;
}

.card-benefits h3 {
    font-size: 20px;
}

.card-benefits p {
    margin: 2rem 0;
}



/* QUINTA SEZIONE : ABOUT US */



.about-us {
    padding-top: 100px;
    padding-bottom: 160px;
}

.main-about-us {
    padding: 0 100px;
    gap: 50px;
}

.about-us .card-left p {
    font-size: 20px;
}

.about-us .card-left p:nth-child(2){
    margin-top: 67px;
    margin-bottom: 75px;
}

.about-us .card-right h2 {
    color: #9792E4;
    margin: 20px 0;
    font-size: 30px;
}

.about-us .card-right-photo{
    background-image: url(../img/about.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-us .quote {
    position: absolute;
    right: 0px;
    font-size: 60px;
    color: #9792E4;
}